
<div class="card">

  <div class="card-body">

    <div class="card-title">
      {{joke.setup}}
    </div>

    <div class="btn-group" role="group">
      <button
        class="btn btn-primary"
        (click)="joke.toggle()">
        {{joke.msgText}}
      </button>
    </div>

    <div class="btn-group" role="group">
      <button
        class="btn btn-primary"
        (click) = "deleteJoke()">
        Delete
      </button>
    </div>
    <br/><br/>

    <div
      class="card-text"
      [hidden]="joke.hide">
      {{joke.punchline}}
    </div>


  </div>

</div>
